name: CI to Docker Hub
on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check Out Repo
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push (stayrtr)
        id: docker_build_stayrtr
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: rpki/stayrtr:latest,rpki/stayrtr:${GITHUB_SHA::8}
          target: stayrtr

      - name: Image digest (stayrtr)
        run: echo ${{ steps.docker_build_stayrtr.outputs.digest }}

      - name: Build and push (rtrmon)
        id: docker_build_rtrmon
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: rpki/rtrmon:latest,rpki/rtrmon:${GITHUB_SHA::8}
          target: rtrmon

      - name: Image digest (rtrmon)
        run: echo ${{ steps.docker_build_rtrmon.outputs.digest }}

      - name: Build and push rtrdump
        id: docker_build_rtrdump
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: rpki/rtrdump:latest,rpki/rtrdump:${GITHUB_SHA::8}
          target: rtrdump

      - name: Image digest (rtrdump)
        run: echo ${{ steps.docker_build_rtrdump.outputs.digest }}
